
h2 {
    margin-top:60px;
}
h4 {
    padding-left:15px;
    margin-top:40px;
    margin-bottom:16px;
}
#chosen_mwl > p {
    padding-left:35px;
}
#debug {
    visibility:hidden;
}
hr {
    margin-top:70px;
}
div.guidance {
    display:none;
    padding:20px;
    margin:15px;
    border:1px solid black;
}
select {
    margin:5px;
    padding:10px;
}